.notification {
    display: flex;
    // width: 100%;
    max-width: 100%;
    overflow-x: hidden;
.notification-container {
        flex: 6;
    }
}
.table{
    margin-left: 20px;
    margin-top: 20px;
    margin-right:5px;
    width:70%;
}

.table-notification{
    border: 1px solid black;
}