.exploratoryAnalysis {
    display: flex;
    // width: 150px;
    // width: 100%;
    max-width: 100%;
    overflow-x: hidden;
// .exploratoryAnalysisContainer {
//         flex: 6;
//     }
}
.doughnut-container{
    margin-top: 3vh;
    margin-left: 5.2vw;
    position:inherit;
    height:25vh; 
    width:25vw;
}

// .type_doughnut-container{
//     position: relative;
//     height:27vh; 
//     width:27vw;
// }

.anomaly_time_area-container{
    // margin: 20px;
    margin-left: 2vw;

    // position: relative
    // height:20vh; 
    // width:60vw;
    // height:60vh; 
    width:85vw;
}
.dropdown-container{
    // margin-left: 4vw;

    // width: 100vw;
    // position: right;
    // float:right

    // align-content: right;
}
.dropdown{
    margin-left: 40vw;
}
.prediction_bar{
    // margin: 20px;
    // position: relative;
    // height:20vh; 
    // width:60vw;
    margin-top: 20px;
    height:50px; 
    width:87vw;
}
.row{
    display: flex
}
