.Cpu {
    display: flex;
    width: 100%;
.Cpu-container {
        flex: 6;
    }
}
// .doughnut-container{
//     margin-top: 3vh;
//     position:inherit;
//     height:25vh; 
//     width:25vw;
// }

// .type_doughnut-container{
//     position: relative;
//     height:27vh; 
//     width:27vw;
// }

.area-container{
    margin-top: 5vh;
    // position: relative
    // height:20vh; 
    // width:60vw;
    height:30vh; 
    width:28vw;
}
// .system_pct_area-container{
//     margin: 20px,0,0,0;
//     // position: relative
//     // height:20vh; 
//     // width:60vw;
//     height:40vh; 
//     width:30vw;
// }
.row{
    display: flex
}
